.touchpad{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text{
    display: flex;
    justify-content: center;
    margin: 10px;
}


.nums{
    display: flex;
    justify-content: center;
}
.nums2{
    display: flex;
    justify-content: center;
}
.nums3{
    display: flex;
    justify-content: center;
}
.signs{
    display: flex;
    justify-content: center;
}
.result{
    display: flex;
    justify-content: center;
    margin: 10px;
}